/*------------
Global Styles
-------------*/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	margin: 1rem;
}

/*------------
BODY
-------------*/

.grid-list{
	display: flex;
	flex-wrap: wrap;
	list-style: none;	
}



.grid-item-container{
	display: grid;
	grid-template-columns: 200px;
	grid-template-rows: 200px;
	background-color: black;
	margin:1.5rem;
	height: 200px;
	width: 200px;
}

.grid-image{
	grid-column-start: 1;
	grid-column-end: -1;
	grid-row-start: 1;
	grid-row-end: -1; 
	height: auto;
	width: 200px;
}

.item-name{
	background-color: rgba(0,0,0, 0.4);
	padding-left: 0.3rem;
	width: 100%;
	color: #FFF;
	margin: auto 0;
	grid-column-start: 1;
	grid-column-end: -1;
	grid-row-start: 1;
	grid-row-end: -1;
	z-index: 1;
}


/*------------
MODAL
-------------*/


.modal{/*background only*/
	background-color: rgba(0,0,0,0.4);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5000;
}

.modal-content{
  	animation-duration: 0.3s;
  	animation-name: modalopen;
  	background-color: #282a36;
	box-shadow: 5px 5px 15px rgba(0,0,0,0.1),	
		-5px -5px 15px rgba(0,0,0,0.1);	
	margin: 4% auto;	
	padding: 2rem;
  	height: 80vh;
  	overflow: auto;
  	width: 80vw;
}

@keyframes modalopen{
  	from{opacity: 0}
  	to{opacity: 1}
}

.hidden{
	display: none;
}