/*------------
Global Styles
-------------*/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

ul{
	list-style: none;
}

body{
	background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
	font-family: 'Nunito', sans-serif;
}

main{
	margin: 1rem;
}



/*------------
Header
-------------*/

header{
	background: rgba(131,58,180, 1);
	background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(255,149,0,1) 100%); 
	height: 30vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

h1{
	color: white;
	font-size: 4rem;
	text-shadow: 2px 3px 15px rgba(0,0,0,0.2), 0px -3px 35px rgba(255,255,255,0.2);
}

.subheader{
	background-color:black;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	color: white;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	height: auto;
	width: 100%;
}
.subheader__buttons>*{
	margin: 0.5rem 1rem;
}

.subheader button{
	background: none;
	font-size: 1rem;
	font-weight: 800;
	color: white;
	border: none;
	height: 100%;
	margin-left: 1rem;

}

.subheader button:hover{
	background: none;
	color: red;
	text-decoration: underline; 
}


/*------------
BODY
-------------*/

.grid-list{
	display: flex;
	flex-wrap: wrap;
	list-style: none;	
}



.grid-item-container{
	border: 1px solid white;
	display: grid;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	grid-template-columns: 200px;
	grid-template-rows: 200px;
	background-color: white;
	margin:1.2rem;
	height: 200px;
	width: 200px;
}

.grid-image{
	grid-column-start: 1;
	grid-column-end: -1;
	grid-row-start: 1;
	grid-row-end: -1; 
	height: auto;
	width: 200px;
	z-index: 2;
}

.item-name{
	background-color: rgba(0,0,0, 0.4);
	padding: 0.3rem;
	width: 100%;
	color: #FFF;
	margin: auto 0;
	grid-column-start: 1;
	grid-column-end: -1;
	grid-row-start: 1;
	grid-row-end: -1;
	text-shadow: 2px 2px 5px #000;
	z-index: 3;
}

.grid-item-container:hover{
	cursor: pointer;
	transition: 0.2s;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}

.slide{
	animation-name: spin;
	animation-duration: 1000ms;
	animation-iteration-count: infinite;
   	animation-timing-function: linear; 
	z-index: 1;
}

.grid-item-container:hover .slide{
	
	margin-left: 1.3rem;
	transition: 0.4s;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
	}
}

/*------------
MODAL
-------------*/


.modal{/*background only*/
	background-color: rgba(0,0,0,0.6);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5000;
}

.modal-content{
  	animation-duration: 0.3s;
  	animation-name: modalopen;
	background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);	
	box-shadow: 5px 5px 15px rgba(37, 37, 37, 0.1),	
		-5px -5px 15px rgba(0,0,0,0.1);	
	border: 1px solid rgb(223, 223, 223);
	margin: 4% auto;	
  	height: 80vh;
  	overflow: auto;
  	width: 80vw;
}

@keyframes modalopen{
  	from{opacity: 0}
  	to{opacity: 1}
}

.modal-content--header{		
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-right: 1rem;
	background: rgb(131,58,180);
	background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(255,149,0,1) 100%);
	color: white;
}

.model--header-image{
	justify-self: flex-start;
	width: auto;
	height: 100px;
}

.modal-content--header h2{
	text-align: center;
	font-size: 3rem;
	text-shadow: 2px 3px 15px rgba(0,0,0,0.2), 0px -3px 35px rgba(255,255,255,0.2);
	
}

.modal-content--body{
	padding: 2rem;
}



/*------------
FOOTER
-------------*/
footer{
	align-items: flex-start;
	background-color: black;
	color: white;
	display: flex;
	flex-wrap: wrap;
	padding:3rem;
}
footer>*{
	margin-right: 5rem;
}

/*------------
INPUTS
-------------*/
input{
	background-color: rgba(255, 255, 255, 0.3);
	padding: 1rem;
	border: 1px solid white;

}






.hidden{
	display: none;
}

